@import "../../styles/global";
@import "../../styles/variables";

.navbar {
  display: flex;
  padding: 0.7rem 1rem;
  justify-content: space-between;
  background-color: rgba(white, 0.25);
  align-items: center;
  backdrop-filter: blur(4px);
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0;
  z-index: 555;

  &__logo {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 800;
    //   color: $gray-color;

    .logo {
      color: $secondary-color;
    }

    @media screen and (min-width: 2000px) {
      width: 200px;
    }
  }
  &__list {
    display: flex;
    @media screen and (max-width: 700px) {
      display: none;
    }
    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      div {
        width: 7px;
        height: 7px;
        border-radius: 50%;
        transition: all 0.3s;
      }
      margin-right: 1rem;
      &-link {
        text-transform: uppercase;
        font-weight: 500;
        color: $gray-color;
        transition: all 0.3s;
        &:hover {
          color: $secondary-color;
        }
      }
      &:hover {
        div {
          background: $secondary-color;
        }
      }
    }
  }

  &__mobile {
    width: 35px;
    height: 35px;
    background-color: $secondary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: $white-color;
    position: relative;
    @media screen and (min-width: 700px) {
      display: none;
    }
    svg {
      height: 70%;
      width: 70%;
    }
    &__container {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 5;
      width: 80%;
      padding: 1rem;
      background: url(../../assets/bgWhite.png);
      background-color: $white-color;
      background-size: cover;
      background-repeat: repeat;
      height: 100vh;
      box-shadow: 0 0 20px rgba(168, 168, 168, 0.15);
      // transition: all 0.3s;

      svg {
        color: $secondary-color;
        width: 35px;
        height: 35px;
        float: right;
        margin: 0.5rem 1rem;
      }

      &__list {
        height: 100%;
        width: 100%;

        padding-top: 35px;
        &-item {
          padding: 1rem;

          &-link {
            color: #444;
            text-transform: uppercase;
            font-weight: 500;
            transition: all 0.3s;
            &:hover {
              color: $secondary-color;
              margin-left: 9px;
            }
          }
        }
      }
    }
  }
}
